.verbs-container{
  margin: 0 30% 0 30%;
}

/* We need white text for black bar */
.verbs-font-white{
  color:white;
}

.verbs-answer{
  display: block;
}

#next{
  cursor: pointer;
  color: green;
}

.rightAnswer{
  background-color: #6ab04c;
  color: #ffffff;
}

.wrongAnswer{
  background-color: #eb4d4b;
  color: #ffffff;
}
