#verbs-container{
  margin: 0 32%;
}

.verbs-answer{
  display: block;
}

.bt-funny,
.btfunny:link,
.btfunny:hover,
.bt-funny:visited, 
.btfunny:active{
  background-color:#0d6efd;  
  color: #fff;
  padding: 5px;
  font-size: 1rem;
  border-radius: 17px;
  cursor:pointer;
  width: 200px;
  margin: 15px auto;
}

#next{
  margin-top: 10rem;
  cursor: pointer;
  color: green;
}

.rightAnswer, .rightAnswer:hover{
  background-color: #6ab04c;
  border-color: #6ab04c;
  color: #ffffff;
}

.wrongAnswer, .wrongAnswer:hover{
  background-color: #B33030;
  border-color: #B33030;
  color: #ffffff;
}

